.login-container {
    background-repeat: no-repeat;
    padding: 45px 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);
    max-height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 73px;    
}

.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
}
    
.form-group {
    display: flex;
    flex-direction: column;
}
        
label {
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}
        
.input {
    margin-bottom: 25px;
    height: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255,255,255, .3);
    transition: .3s ease-in-out;
}

.input:focus {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(255,255,255, 1);
    font-size: 12px;
    font-weight: 400
}

.input::placeholder {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.input:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.1);
}
    
.button_login {
    background-color: #000000;
    padding: 6px 30px 6px 30px;
    margin: 7px 0px;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
    
.button_login:hover {
    background: #fff;
    color: #000000;
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

