body {
  margin: 0;
 background: linear-gradient(35deg, /*#feb47b, #ff7e5f */ #fbab98, #fb2253 );
  font-family: sans-serif;
  color: #fff;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
